export(kmeans_clust)
export(normMixEM)
exportClasses(normMixEM)
import(Rcpp)
import(dplyr)
import(methods)
import(mixtools)
import(stats)
useDynLib(clusteringscRNA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
